body{
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 36px;
}

a{
    text-decoration: none;

    &:visited{
        color: inherit;
    }
}

p{
    font-size: 20px;
}

nav{
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(255 255 255 / 75%);
    .container{
        opacity: 1;
    }
}

.container{
    width: 80%;
    margin: auto;
}

#image-box{
    height: 100vh;
    display: flex;
    color: white;
    background:url("../Media/main_light2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    .container{
        text-align: center;
    }
}

#advantages{
    color: black;
    margin: 0;
    padding: 70px 0px;

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #textblock{
        flex:1;


        h2{            
            border-bottom: black;
            border-style: solid;
            border-width: 0px 0px 2px 0px;
            padding: 5px;
            width: 80%;
        }

        p{
            margin: 15px 0px;
        }

        button{
            color: white;
            border: none;
            font-size: inherit;
            padding: 10px 25px;
            border-radius: 8px;
            margin: 0;
            cursor: pointer;
            transition: 300ms;
            background-color: #b67a3d;

            &:hover{
                background-color: darkblue;
            }
        }
    }
    

    img{
        width: 100%;
        flex: 1;
        border-radius: 5%;
    }


}

.interlude{
    display: flex;
    height: 250px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../Media/main_dark1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    p{
        margin: auto;
    }
}

#formats {

    .container{
        display: flex;
        flex-direction: row;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    h2{
        flex-basis: 100%;
        text-align: center;
    }
}

.format-card{
    flex-basis: 25%;
    flex-grow: 1;
    border-radius: 8px;
    margin: 0px;
    padding: 15px;
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-image: url("../Media/photo_2024-02-11_01-43-34.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.interlude{
    margin: 70px 0px;
    color: white;
}

#gallery{
    overflow: hidden;
    white-space:nowrap;
    font-size: 0px;
    margin-bottom: 70px;

    h2{
        font-size: 36px;
        text-align: center;
    }
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

.row{
    height: 300px;
    animation: 20s slide infinite linear;
    display: inline-block;

    img{
        box-sizing: border-box;
        height: inherit;
    }
}

.subrow{
    height: 300px;
}


#connect{
    height: 100vh;
    display: flex;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../Media/main_dark1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    .container{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("../Media/main3.jpg");
        color: black;
    }
}

footer{
    height: 200px;
    margin-top: 20px;

    .container{
        display: flex;
        flex-direction: column;
    }
}
